<!-- Namespaces Selector -->
<div class="parent spacing" *ngIf="!ns.dashboardConnected()">
  <div class="spacer"></div>
  <app-namespace-select></app-namespace-select>
  <div class="spacer"></div>
</div>

<!-- The Table showing our Resource -->
<div class="parent" [class.spacing]="ns.dashboardConnected()">
  <div class="spacer"></div>
  <app-resource-table
    [notebooks]="resources"
    (deleteNotebookEvent)="deleteResource($event)"
  ></app-resource-table>
  <div class="spacer"></div>
</div>

<!-- The Table showing the persistent volume claims -->
  <div class="parent spacing">
    <div class="spacer"></div>
    <app-volume-table
      [pvcProperties]="pvcProperties"
      (deletePvcEvent)="deletePvc($event)"
    >
    </app-volume-table>
    <div class="spacer"></div>
  </div>
  
  <!-- The Table showing our Costs-->
  <div class="parent spacing">
    <div class="spacer"></div>
    <app-cost-table
      [aggregatedCost]="aggregatedCost"
      [currNamespace]="currNamespace"
      ></app-cost-table>
    <div class="spacer"></div>
  </div>


