<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fab', 'docker']" class="check"></fa-icon>
    {{ "formImage.h3Image" | translate }}
  </h3>
  <p>
    {{ "formImage.txtImage" | translate }}
    <a href="https://statcan.github.io/daaas/en/1-Experiments/Selecting-an-Image/"
    target="_blank" style="text-decoration: none">
      {{ "formImage.txtImageLink" | translate }}
    </a>
  </p>
  <mat-checkbox *ngIf="!readonly" formControlName="customImageCheck">
    {{ "formImage.ckbImage" | translate }}
  </mat-checkbox>

  <mat-form-field
    class="wide"
    appearance="outline"
    *ngIf="!parentForm?.value.customImageCheck"
  >
    <!-- If readonly, then make it an input element instead of select -->
    <mat-label>{{ "formImage.lblImage" | translate }}</mat-label>
    <mat-select
      placeholder="{{ 'formImage.plhImage' | translate }}"
      formControlName="image"
    >
      <mat-option *ngFor="let img of images" [value]="img">
        {{ imageDisplayName(img) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    class="wide"
    appearance="outline"
    *ngIf="parentForm?.value.customImageCheck"
  >
    <mat-label>{{ "formImage.lblCustomImage" | translate }}</mat-label>
    <input
      matInput
      placeholder="{{ 'formImage.plhCustomImage' | translate }}"
      formControlName="customImage"
      #cstmimg
    />
    <mat-error>{{ "formImage.errorImageRequired" | translate }}</mat-error>
  </mat-form-field>
</div>
