<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'hdd']" class="check"></fa-icon>
    {{ "formDataVolumes.h3DataVolumes" | translate }}
  </h3>
  <p>{{ "formDataVolumes.txtDataVolumes" | translate }}</p>
  <p *ngIf="readonly">
    {{ "formDataVolumes.txtDataVolumesIf" | translate }}
  </p>
  <button
    mat-stroked-button
    color="accent"
    (click)="addVol()"
    type="button"
    [disabled]="readonly"
  >
    <mat-icon>add</mat-icon>{{ "formDataVolumes.btnAddVolume" | translate }}
  </button>

  <div *ngFor="let vol of datavols; let i = index" class="delible-volume">
    <app-volume
      [volume]="vol"
      [notebookName]="parentForm.get('name').value"
      [namespace]="parentForm.get('namespace').value"
      [pvcs]="pvcs"
      [ephemeral]="false"
      [defaultStorageClass]="defaultStorageClass"
      [sizes]="['4Gi', '8Gi', '16Gi', '32Gi', '64Gi', '128Gi', '256Gi', '512Gi', '1Ti', '2Ti']"
    >
    </app-volume>

    <div class="del-btn">
      <button
        mat-icon-button
        color="warn"
        (click)="deleteVol(i)"
        type="button"
        [disabled]="readonly"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
