// Data Volumes with the Delete button
.delible-volume {
  display: flex;
  width: 100%;
}

.delible-volume > app-volume {
  min-width: initial;
  max-width: 93%;
}

.delible-volume > .del-btn {
  margin-top: 0.8rem;
  margin-left: 1.5rem;
  width: 7%;
  text-align: center;
}
