<!--AAW: Removed input
<mat-checkbox [formControl]="pvcGroup.get('readOnly')">ReadOnly</mat-checkbox>-->

<mat-form-field appearance="outline" class="wide" data-cy-form-input="existing-volume">
  <mat-label i18n>Name</mat-label>
  <mat-select
    [formControl]="pvcGroup.get('claimName')"
    #select
    [errorStateMatcher]="matcher"
  >
    <mat-option *ngFor="let pvc of pvcs" [value]="pvc.name">
      <div class="flex">
        <div class="name truncate">
          {{ pvc.name }} {{ isProtectedLabel(pvc) }}
        </div>
        <ng-container *ngIf="select.panelOpen">
          <div class="size">{{ pvc.size }}</div>
          <div class="mode">{{ pvc.mode }}</div>
        </ng-container>
      </div>
    </mat-option>
  </mat-select>
  <mat-error>
    {{ showNameError() }}
  </mat-error>
</mat-form-field>
