<div class="lib-content-wrapper">
  <lib-title-actions-toolbar
    title="New notebook"
    [backButton]="true"
    (back)="onCancel()"
    i18n-title
  >
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div class="page-padding lib-flex-grow lib-overflow-auto">
    <form
      novalidate
      class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="formCtrl"
    >
      <app-form-name
        [parentForm]="formCtrl"
        [existingNotebooks]="existingNotebooks"
      ></app-form-name>

      <app-form-image
        [parentForm]="formCtrl"
        [images]="config?.image?.options"
        [imagesGroupThree]="config?.imageGroupThree"
        [allowCustomImage]="config?.allowCustomImage"
        [hideRegistry]="config?.hideRegistry"
        [hideTag]="config?.hideTag"
        [nsMetadata]="nsMetadata"
      ></app-form-image>

      <lib-advanced-options>
        <app-form-image-custom
          [parentForm]="formCtrl"
          [images]="config?.image?.options"
          [imagesGroupThree]="config?.imageGroupThree"
          [allowCustomImage]="config?.allowCustomImage"
          [hideRegistry]="config?.hideRegistry"
          [hideTag]="config?.hideTag"
          [nsMetadata]="nsMetadata"
        ></app-form-image-custom>

        <app-form-cpu-ram
          [parentForm]="formCtrl"
          [readonlyCPU]="config?.cpu?.readOnly"
          [readonlyMemory]="config?.memory?.readOnly"
          [cpuLimitFactor]="config?.cpu?.limitFactor"
          [memoryLimitFactor]="config?.memory?.limitFactor"
          [readonlySpecs]="readonlySpecs"
          [nsMetadata]="nsMetadata"
        ></app-form-cpu-ram>

        <app-form-gpus
          [parentForm]="formCtrl"
          [vendors]="config?.gpus?.value.vendors"
          (gpuValueEvent)="checkGPU($event)"
          [nsMetadata]="nsMetadata"
        ></app-form-gpus>

        <app-form-workspace-volume
          *ngIf="formCtrl.get('workspace')"
          [readonly]="config?.workspaceVolume?.readOnly"
          [volGroup]="formCtrl.get('workspace')"
          [externalName]="formCtrl.get('name').value"
          [mountedVolumes]="mountedVolumes"
        >
        </app-form-workspace-volume>

        <app-form-data-volumes
          [volsArray]="formCtrl.get('datavols')"
          [readonly]="config?.dataVolumes?.readOnly"
          [externalName]="formCtrl.get('name').value"
          [mountedVolumes]="mountedVolumes"
        >
        </app-form-data-volumes>

        <!--AAW:Removed this section
        <app-form-affinity-tolerations
          [parentForm]="formCtrl"
          [affinityConfigs]="config?.affinityConfig?.options"
          [tolerationGroups]="config?.tolerationGroup?.options"
      ></app-form-affinity-tolerations>-->

        <app-form-configurations
          [parentForm]="formCtrl"
        ></app-form-configurations>

        <app-form-advanced-options
          [parentForm]="formCtrl"
        ></app-form-advanced-options>
      </lib-advanced-options>
    </form>

    <div class="form-buttons">
      <div
        [matTooltip]="setTooltipText(formCtrl)"
        [matTooltipDisabled]="formCtrl.valid"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!formCtrl.valid"
          i18n
          data-cy-form-button="submit"
        >
          LAUNCH
        </button>
      </div>

      <button
        mat-raised-button
        type="button"
        class="cancel-button"
        (click)="onCancel()"
        i18n
        data-cy-form-button="cancel"
      >
        CANCEL
      </button>
    </div>
  </div>
</div>
