<lib-form-section
  title="CPU / RAM"
  i18n-title="Title for the CPU/RAM form section"
  helpText="Configure the resources allocated to the notebook. Minimum and maximum values correspond to K8s requests and limits for the resources of the underlying Pod."
  i18n-helpText
>
  <div class="row" [formGroup]="parentForm">
    <div class="column">
      <!--CPU AAW, do not take their lib-positive-input -->
      <mat-form-field
        appearance="outline"
        class="wide"
        data-cy-form-input="cpu"
      >
        <mat-label i18n>Requested CPUs</mat-label>
        <input
          [attr.disabled]="readonlySpecs ? '' : null"
          matInput
          type="number"
          min="0.1"
          step="0.1"
          formControlName="cpu"
          [errorStateMatcher]="matcher"
        />
        <mat-error>{{ getCPUError('cpu') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="column">
      <!--RAM AAW, do not take their lib-positive-input-->
      <mat-form-field
        appearance="outline"
        class="wide"
        data-cy-form-input="memory"
      >
        <mat-label i18n>Requested Memory Gi</mat-label>
        <input
          [attr.disabled]="readonlySpecs ? '' : null"
          matInput
          type="number"
          min="0.5"
          step="0.1"
          formControlName="memory"
          [errorStateMatcher]="matcher"
        />
        <mat-error>{{ getRAMError('memory') }}</mat-error>
      </mat-form-field>
    </div>
  </div>
<!-- Removing max limit for ram and cpu -->
</lib-form-section>
