<!-- Notebook CPU/RAM -->
<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'microchip']" class="check"></fa-icon>
    {{ "formSpecs.titleCpuRam" | translate }}
  </h3>
  <p>
    {{ "formSpecs.txtCpu" | translate }}
  </p>

  <div class="inputs-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>{{ "formSpecs.lblCpu" | translate }}</mat-label>
      <input
        [attr.disabled]="readonlySpecs ? '' : null"
        matInput
        placeholder="{{ 'formSpecs.plhCpu' | translate }}"
        formControlName="cpu"
        [errorStateMatcher]="parentErrorKeysErrorStateMatcher('maxCpu')"
      />
      <mat-error>{{ cpuErrorMessage() | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "formSpecs.lblMemory" | translate }}</mat-label>
      <input
        [attr.disabled]="readonlySpecs ? '' : null"
        matInput
        placeholder="{{ 'formSpecs.plhMemory' | translate }}"
        formControlName="memory"
        [errorStateMatcher]="parentErrorKeysErrorStateMatcher('maxRam')"
      />
      <mat-error>{{ memoryErrorMessage() | translate }}</mat-error>
    </mat-form-field>
  </div>
</div>
