<div *ngIf="volume" [formGroup]="volume" class="row">
  <mat-form-field class="column" appearance="outline" id="type">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngIf="defaultStorageClass" value="New">New</mat-option>
      <mat-option value="Existing">Existing</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Volume Name Input -->
  <lib-name-input
    class="column"
    [nameControl]="volume.get('name')"
    id="name"
  ></lib-name-input>

  <!-- Size Input -->
  <!--upstream had users choosing via input, change back to pre-populated dropdown -->
  <mat-form-field appearance="outline" id="size">
    <mat-label>Size</mat-label>
    <mat-select formControlName="size">
      <mat-option *ngFor="let sizeOptions of sizes" [value]="sizeOptions">{{
        sizeOptions
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Mode Input -->
  <mat-form-field class="column" appearance="outline" id="mode">
    <mat-label>Mode</mat-label>
    <mat-select [(value)]="selected" formControlName="mode">
      <mat-option value="ReadWriteOnce">ReadWriteOnce</mat-option>
      <mat-option value="ReadOnlyMany">ReadOnlyMany</mat-option>
      <mat-option value="ReadWriteMany">ReadWriteMany</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Mount Input -->
  <mat-form-field class="column" appearance="outline" id="path">
    <mat-label>Mount Point</mat-label>
    <input matInput formControlName="path" />
  </mat-form-field>
</div>
