<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <mat-icon class="gpu">memory</mat-icon>
    {{ "formGpus.h3Gpu" | translate }}
  </h3>
  <p>
    {{ "formGpus.txtGpu" | translate }}
  </p>

  <div class="inputs-wrapper" [formGroup]="parentForm.get('gpus')">
    <mat-form-field class="wide" appearance="outline">
      <mat-label>{{ "formGpus.lblNumGpu" | translate }}</mat-label>
      <mat-select matNativeControl formControlName="num">
        <mat-option value="none">
          {{ "formGpus.optNone" | translate }}
        </mat-option>
        <mat-option *ngFor="let v of gpusCount" [value]="v">
          {{ v }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ message }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="wide" appearance="outline">
      <mat-label>{{ "formGpus.lblGpuVendor" | translate }}</mat-label>
      <mat-select matNativeControl formControlName="vendor" id="gpu-vendor">
        <mat-option *ngFor="let v of vendors" [value]="v.limitsKey">
          {{ v.uiName }}
        </mat-option>
        <!--<mat-option value="nvidia">NVIDIA</mat-option>-->
        <!--<mat-option value="amd">AMD</mat-option>-->
      </mat-select>
      <mat-error>{{ getVendorError() }}</mat-error>
    </mat-form-field>
  </div>
</div>
