<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'book']" class="check"></fa-icon>
    {{ "formName.h3Name" | translate }}
  </h3>
  <p>
    {{ "formName.txtName" | translate }}
  </p>

  <div class="inputs-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>{{ "formName.lblName" | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'formName.plhName' | translate }}"
        formControlName="name"
        #name
      />
      <mat-error>
        {{ showNameError() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "formName.lblNamespace" | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'formName.plhNamespace' | translate }}"
        formControlName="namespace"
        readonly
      />
      <mat-error>{{ "formName.errorNamespaceRequired" | translate }}</mat-error>
    </mat-form-field>
  </div>
</div>
