<div class="card mat-elevation-z2">
  <div class="header">
    <mat-icon>storage</mat-icon>
    <p>{{ "volumeTable.title" | translate }}</p>
  </div>

  <table mat-table [dataSource]="pvcProperties" matSort>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        {{ "volumeTable.thStatus" | translate }}
      </th>
      <td mat-cell *matCellDef="let elem" [ngSwitch]="pvcStatus(elem)">
        <!-- Mounted -->
        <mat-icon
          *ngSwitchCase="PvcStatus.MOUNTED"
          [ngClass]="['running', 'status']"
          matTooltip="{{ 'volumeTable.toolTipAttached' | translate }}"
          >link
        </mat-icon>

        <!-- Unmounted -->
        <mat-icon
          *ngSwitchCase="PvcStatus.UNMOUNTED"
          [ngClass]="['warning', 'status']"
          matTooltip="{{ 'volumeTable.toolTipUnattached' | translate }}"
          >link_off
        </mat-icon>

        <!-- Deleting -->
        <mat-spinner
          *ngSwitchCase="PvcStatus.DELETING"
          matTooltip="{{ 'volumeTable.toolTipDeleting' | translate }}"
          diameter="24"
          class="inline"
        >
        </mat-spinner>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ "volumeTable.thName" | translate }}
      </th>
      <td mat-cell *matCellDef="let elem">{{ elem.pvc.name }}</td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>
        {{ "volumeTable.thSize" | translate }}
      </th>
      <td mat-cell *matCellDef="let elem">
        {{ elem.pvc.size }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mountedBy">
      <th mat-header-cell *matHeaderCellDef>
        {{ "volumeTable.thUsedBy" | translate }}
      </th>
      <td mat-cell *matCellDef="let elem">
        {{ elem.mountedBy || "volumeTable.lblNone" | translate }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let elem">
        <button
          mat-icon-button
          [disabled]="pvcStatus(elem) !== PvcStatus.UNMOUNTED"
          (click)="deletePvc(elem)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
