<div
  class="vol-group-container"
  *ngFor="let volGroup of volGroups; trackBy: groupTrackByFn"
>
  <div class="group-key">
    <div>{{ volGroup.name }}</div>
    <button
      matSuffix
      mat-icon-button
      aria-label="Help"
      [libPopover]="popoverCard"
      [libPopoverPosition]="'after'"
      [libPopoverHideDelay]="100"
      [libPopoverShowDelay]="100"
      class="truncate"
    >
      <mat-icon class="icon">help_outline</mat-icon>
    </button>
  </div>

  <ng-template #popoverCard>
    <div class="popoverCard">
      <p>{{ volGroup.info }}</p>
      <p i18n>
        Read more at
        <a
          [href]="volGroup.url"
          target="_blank"
          rel="noopener"
          class="lib-link"
          >{{ volGroup.url }}</a
        >
      </p>
    </div>
  </ng-template>

  <lib-urls *ngIf="isPVCs(volGroup)" [urlList]="volGroup.array"></lib-urls>

  <mat-chip-listbox *ngIf="!isPVCs(volGroup)" class="chip-list-wa">
    <div *ngFor="let chip of volGroup.array; trackBy: chipTrackByFn">
      <mat-chip-option color="primary" class="list-chip">
        {{ chip.value }}
      </mat-chip-option>
    </div>
  </mat-chip-listbox>
</div>

<ng-content class="vertical-align"> </ng-content>
<div *ngIf="volGroupsEmpty() && loadCompleted">{{ loadErrorMsg }}</div>
