@use '@angular/material' as mat;
@import './kubeflow.css';
@import './variables.scss';

// Define the primary palette for the color that appears most
// frequently throughout your application.
$kubeflow-primary-palette: (
  100: $kubeflow-blue-hue-1,
  400: $kubeflow-blue-hue-1,
  500: $kubeflow-blue-hue-2,
  600: $kubeflow-blue-hue-3,
  700: $kubeflow-blue-primary-hue,
  800: $kubeflow-blue-hue-4,
  900: $kubeflow-blue-hue-5,
  contrast: (
    400: $kubeflow-white,
    500: $kubeflow-white,
    600: $kubeflow-white,
    700: $kubeflow-white,
    800: $kubeflow-white,
    900: $kubeflow-white,
  ),
);

// Create the typography config that contains the styles of each level
// AAW Change: had to rename the "$headline" to "$headline-5" and "$title" to "$headline-6"
// because our angular version is more recent than upstream
$kubeflow-typography-config: mat.define-typography-config(
  $body-1:
    mat.define-typography-level(
      $font-family: Roboto,
      $font-weight: $kubeflow-font-weight-regular,
      $font-size: $kubeflow-font-size-regular,
      $line-height: 20px,
      $letter-spacing: 0.25px,
    ),
  $headline-5:
    mat.define-typography-level(
      $font-family: Roboto,
      $font-weight: $kubeflow-font-weight-regular,
      $font-size: $kubeflow-font-size-xlarge,
      $line-height: 24px,
      $letter-spacing: 0.18px,
    ),
  $headline-6:
    mat.define-typography-level(
      $font-family: Roboto,
      $font-weight: $kubeflow-font-weight-medium,
      $font-size: $kubeflow-font-size-large,
      $line-height: 24px,
      $letter-spacing: 0.15px,
    ),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kubeflow-theme: mat.define-light-theme(
  (
    color: (
      // Zone change: the kubeflow primary palette definition from upstream was affecting our slider toggle's styling.
      // see https://jirab.statcan.ca/browse/BTIS-852 mentioning the "shared memory" input
      //primary: mat.define-palette($kubeflow-primary-palette, 700),
      primary: mat.define-palette(mat.$blue-palette, 600, 700, 900),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    ),
    typography: $kubeflow-typography-config,
  )
);

// AAW: this was introduced in angular v15 material migration
@include mat.all-component-typographies();

// Always include only once per project.
// Passing the typography config to core mixin will apply the specified values
// to the corresponding Angular Material components.
@include mat.core();

// Include theme styles for core and each component used in the app.
// Alternatively, you can import and @include the theme mixins for each
// component that you are using.
@include mat.all-component-themes($kubeflow-theme);

.mat-headline {
  color: $kubeflow-black-1;
}

.mat-title {
  color: $kubeflow-black-1;
}

// Use the material icons offline
$material-icons-font-path: '~material-icons/iconfont/';
@import 'node_modules/material-icons/iconfont/material-icons.scss';

// Custom css
html,
body {
  margin: 0;
  background: white;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.lib-step-wrapper {
  display: flex;
  justify-content: space-between;
}

.lib-step-info-wrapper {
  width: fit-content;
  width: -moz-fit-content;
  flex-grow: 0;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

.bold {
  font-weight: 500;
}

.wide {
  width: 100%;
}

.right-align {
  text-align: right !important;
}

.mat-mdc-tooltip-panel .mat-tooltip {
  font-size: 14px !important;
}

.mat-mdc-snack-bar-container {
  max-width: 100% !important;
  width: 700px;
}

.form--container.mat-mdc-dialog-content {
  max-height: 88vh;
  padding: 16px;
}

// Truncate text
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * common table
 */
.lib-table .mat-mdc-paginator-container {
  min-height: 48px;
}

// Form global css
.form--dialog-padding .mat-mdc-dialog-container {
  padding: 0 24px;
}

.mat-mdc-button-base.form--button-margin {
  margin-right: 16px;
}

.form--input-padding .mat-mdc-form-field {
  // Get the select and input elements have the same height
  line-height: 0;
}

// Center an element
.center-flex {
  display: flex;
  justify-content: center;
}

// Have a row of inputs
.row {
  display: flex;
  flex-direction: row;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.column {
  flex: 1 1 0px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.mat-mdc-button.button-with-icon .mdc-button__label {
  display: flex;
  align-items: center;
}

// tooltips show we as wide as possible
.custom-tooltip {
  max-width: unset !important;
  white-space: pre-line;
}

// Strip button from all default styles
.reset-button-to-text {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

/*
 * padding for the page
 */
.page-padding {
  padding-left: $page-space-left;
  padding-right: $page-space-right;
}

.page-padding-right {
  padding-right: $page-space-right;
}

.page-padding-left {
  padding-left: $page-space-left;
}

/*
 * Classes for showing a Toolbar, footer and scrollable content
 */
.lib-content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.lib-flex-layout-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.lib-flex-grow {
  flex-grow: 1;
}

.lib-overflow-auto {
  overflow: auto;
}

.mat-mdc-chip {
  &.mat-chip-blue {
    background-color: var(--accent-color) !important;
    color: white !important;

    .mat-icon {
      color: white !important;
    }

    .mdc-evolution-chip__text-label {
      color: white !important;
    }
  }
}

/*
* Classes for showing an object's details page in web apps
*/
.details-page {
  .details-page-outer {
    padding-top: 1.5rem;
    flex-grow: 1;
    overflow: auto;
    padding-left: $page-space-left;
    padding-right: $page-space-right;
  }

  .details-page-inner {
    margin-bottom: 1rem;
    padding-left: $page-space-left;
    padding-right: $page-space-right;
  }

  .details-page-inner-2 {
    display: flex;
    align-items: center;
  }
}

// Classes for styling anchor elements

.lib-link {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}

.lib-link:visited {
  color: $link-color;
}

.lib-link:hover {
  text-decoration: underline;
}
