<lib-details-list-item key="Access modes" [chipsList]="accessModes" i18n-key>
</lib-details-list-item>

<lib-details-list-item key="Size" i18n-key>
  {{ size }}
</lib-details-list-item>

<lib-details-list-item key="Storage class" i18n-key>
  {{ storageClass }}
</lib-details-list-item>

<lib-details-list-item key="Volume mode" i18n-key>
  {{ volumeMode }}
</lib-details-list-item>

<lib-details-list-item key="Volume name" *ngIf="volumeName" i18n-key>
  {{ volumeName }}
</lib-details-list-item>

<lib-details-list-item
  key="Owned by"
  i18n-key
  keyTooltip="The pvc is owned by the objects in this list. If all objects in the list get deleted, then the PVC itself will be deleted"
  i18n-keyTooltip
  *ngIf="ownerReferencesNotEmpty"
  [chipsList]="ownerRefs"
>
</lib-details-list-item>

<lib-content-list-item key="Used by notebooks" i18n-key *ngIf="notebooksURLs.length > 0">
  <lib-urls [urlList]="notebooksURLs"></lib-urls>
</lib-content-list-item>

<lib-content-list-item key="Pods Mounted" i18n-key>
  <ng-container *ngIf="!podGroupsLoaded">
    <lib-loading-spinner></lib-loading-spinner>
  </ng-container>

  <app-link-groups-table
    *ngIf="podGroupsLoaded"
    [linkGroups]="podGroups"
    [loadCompleted]="podGroupsLoaded"
    [loadErrorMsg]="podsMountedMessage"
  >
  </app-link-groups-table>
</lib-content-list-item>
