# --------------------------------------------------------------
# Configuration file for the Kubeflow Notebooks UI.
#
# About the `readOnly` configs:
#  - when `readOnly` is set to "true", the respective option
#    will be disabled for users and only set by the admin
#  - when 'readOnly' is missing, it defaults to 'false'
# --------------------------------------------------------------

spawnerFormDefaults:
  ################################################################
  # Container Images
  ################################################################
  # if users can input custom images, or only select from dropdowns
  allowCustomImage: true

  # if the registry of the container image is hidden from display
  hideRegistry: true

  # if the tag of the container image is hidden from display
  hideTag: true

  # configs for the ImagePullPolicy
  imagePullPolicy:
    readOnly: false

    # the default ImagePullPolicy
    # (possible values: "Always", "IfNotPresent", "Never")
    value: Always

  ################################################################
  # Jupyter-like Container Images
  #
  # NOTES:
  #  - the `image` section is used for "Jupyter-like" apps whose
  #    HTTP path is configured by the "NB_PREFIX" environment variable
  ################################################################
  image:
    # the default container image
    value: artifactory.cloud.statcan.ca/das-aaw-docker/jupyterlab-cpu:v2

    # the list of available container images in the dropdown
    options:
    - artifactory.cloud.statcan.ca/das-aaw-docker/jupyterlab-cpu:v2

  ################################################################
  # SAS Container Images (Group 3)
  #
  # NOTES:
  #  - the `imageGroupThree` section is used for "SAS-like" app
  #  - in our current implementation with the Zone, the only difference
  #    between this and jupyter images is SAS Studio is available only here
  ################################################################
  imageGroupThree:
    # the default container image
    value: artifactory.cloud.statcan.ca/das-aaw-docker/sas:v2 

    # the list of available container images in the dropdown
    options:
    - artifactory.cloud.statcan.ca/das-aaw-docker/sas:v2

  ################################################################
  # CPU Resources
  ################################################################
  cpu:
    readOnly: false

    # the default cpu request for the container
    value: "0.5"
    # AAW: default value when a GPU is selected
    gpuDefault: '4.0'
    # a factor by which to multiply the CPU request calculate the cpu limit
    # (to disable cpu limits, set as "none")
    limitFactor: "1.0"
    # AAW: Limit Value for the maximum amount of cpu allocated
    limitValue: "4.0"

  ################################################################
  # Memory Resources
  ################################################################
  memory:
    readOnly: false

    # the default memory request for the container
    value: "2.0"
    # AAW: default value when a GPU is selected
    gpuDefault: '96.0'
    # a factor by which to multiply the memory request calculate the memory limit
    # (to disable memory limits, set as "none")
    limitFactor: "1.0"
    # AAW: Limit Value for the maximum amount of memory allocated
    limitValue: "4.0"

  ################################################################
  # GPU/Device-Plugin Resources
  ################################################################
  gpus:
    readOnly: false

    # configs for gpu/device-plugin limits of the container
    # https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#using-device-plugins
    value:
      # the `limitKey` of the default vendor
      # (to have no default, set as "")
      vendor: "nvidia.com/gpu"

      # the list of available vendors in the dropdown
      #  `limitsKey` - what will be set as the actual limit
      #  `uiName` - what will be displayed in the dropdown UI
      vendors:
      - limitsKey: "nvidia.com/gpu"
        uiName: "NVIDIA"

      # the default value of the limit
      # (possible values: "none", "1", "2", "4", "8")
      num: "none"

  ################################################################
  # Workspace Volumes
  ################################################################
  workspaceVolume:
    readOnly: false

    # the default workspace volume to be created and mounted
    # (to have no default, set `value: null`)
    value:
      mount: /home/jovyan

      # pvc configs for creating new workspace volumes
      # https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#persistentvolumeclaim-v1-core
      newPvc:
        metadata:
          # "{notebook-name}" is replaced with the Notebook name
          name: "{notebook-name}-workspace"
        spec:
          #storageClassName: my-storage-class
          resources:
            requests:
              storage: 16Gi
          accessModes:
          - ReadWriteOnce

  ################################################################
  # Data Volumes
  ################################################################
  dataVolumes:
    readOnly: false

    # a list of additional data volumes to be created and/or mounted
    value: []
    #value:
    #  - mount: /home/jovyan/datavol-1
    #    newPvc:
    #      metadata:
    #        name: "{notebook-name}-datavol-1"
    #      spec:
    #        resources:
    #          requests:
    #            storage: 5Gi
    #        accessModes:
    #          - ReadWriteOnce
    #
    #  - mount: /home/jovyan/datavol-1
    #    existingSource:
    #      persistentVolumeClaim:
    #        claimName: "test-pvc"

  ################################################################
  # Affinity
  ################################################################
  affinityConfig:
    readOnly: false

    # the `configKey` of the default affinity config
    # (to have no default, set as "")
    # (if `readOnly`, the default `value` will be the only accessible option)
    value: "none"

    # the list of available affinity configs in the dropdown
    options: []
    #options:
    #  - configKey: "dedicated_node_per_notebook"
    #    displayName: "Dedicated Node Per Notebook"
    #    affinity:
    #      # Require a Node with label `lifecycle=kubeflow-notebook`
    #      nodeAffinity:
    #        requiredDuringSchedulingIgnoredDuringExecution:
    #          nodeSelectorTerms:
    #            - matchExpressions:
    #                - key: "lifecycle"
    #                  operator: "In"
    #                  values:
    #                    - "kubeflow-notebook"
    #
    #      # Require a Node WITHOUT an existing Pod having `notebook-name` label
    #      podAntiAffinity:
    #        requiredDuringSchedulingIgnoredDuringExecution:
    #          - labelSelector:
    #              matchExpressions:
    #                - key: "notebook-name"
    #                  operator: "Exists"
    #            topologyKey: "kubernetes.io/hostname"
    #            # WARNING: `namespaceSelector` is Beta in 1.22 and Stable in 1.24,
    #            #          setting to {} is required for affinity to work across Namespaces
    #            namespaceSelector: {}

  ################################################################
  # Tolerations
  ################################################################
  tolerationGroup:
    readOnly: false

    # the `groupKey` of the default toleration group
    # (to have no default, set as "")
    # (if `readOnly`, the default `value` will be the only accessible option)
    value: "none"

    # the list of available toleration groups in the dropdown
    options: []
    #options:
    #  - groupKey: "group_1"
    #    displayName: "4 CPU 8Gb Mem at ~$X.XXX USD per day"
    #    tolerations:
    #      - key: "dedicated"
    #        operator: "Equal"
    #        value: "kubeflow-c5.xlarge"
    #        effect: "NoSchedule"
    #
    #  - groupKey: "group_2"
    #    displayName: "8 CPU 16Gb Mem at ~$X.XXX USD per day"
    #    tolerations:
    #      - key: "dedicated"
    #        operator: "Equal"
    #        value: "kubeflow-c5.2xlarge"
    #        effect: "NoSchedule"
    #
    #  - groupKey: "group_3"
    #    displayName: "16 CPU 32Gb Mem at ~$X.XXX USD per day"
    #    tolerations:
    #      - key: "dedicated"
    #        operator: "Equal"
    #        value: "kubeflow-c5.4xlarge"
    #        effect: "NoSchedule"
    #
    #  - groupKey: "group_4"
    #    displayName: "32 CPU 256Gb Mem at ~$X.XXX USD per day"
    #    tolerations:
    #      - key: "dedicated"
    #        operator: "Equal"
    #        value: "kubeflow-r5.8xlarge"
    #        effect: "NoSchedule"

  ################################################################
  # Shared Memory
  ################################################################
  shm:
    readOnly: false

    # the default state of the "Enable Shared Memory" toggle
    value: false

  ################################################################
  # PodDefaults
  ################################################################
  configurations:
    readOnly: false

    # the list of PodDefault names that are selected by default
    # (take care to ensure these PodDefaults exist in Profile Namespaces)
    value: []
    #value:
    #  - my-pod-default
