<div class="card mat-elevation-z2 mat-typography">
  <div class="header">
    <mat-icon>attach_money</mat-icon>
    <p>{{ "costTable.title" | translate }}</p>
  </div>

  <p>
    {{ "costTable.txtCost" | translate }}
  </p>

  <mat-divider></mat-divider>
  <table
    *ngIf="getStatus() == AsyncStatus.SUCCESS; else error"
    style="width: auto"
  >
    <tr class="mat-header-row" style="text-align: left">
      <th class="mat-header-cell">{{ "costTable.thCompute" | translate }}</th>
      <th class="mat-header-cell">{{ "costTable.thGpus" | translate }}</th>
      <th class="mat-header-cell">{{ "costTable.thStorage" | translate }}</th>
      <th class="mat-header-cell" width="99%">
        {{ "costTable.thTotal" | translate }}
      </th>
    </tr>
    <tr
      *ngIf="aggregatedCost.data[currNamespace]; let cost"
      class="mat-row"
      style="text-align: left"
    >
      <td class="mat-cell">{{ formatCost(cost.cpuCost + cost.ramCost) }}</td>
      <td class="mat-cell">{{ formatCost(cost.gpuCost) }}</td>
      <td class="mat-cell">{{ formatCost(cost.pvCost) }}</td>
      <td class="mat-cell" style="font-weight: 500">
        {{ formatCost(cost.totalCost) }}
      </td>
    </tr>
  </table>

  <ng-template #error>
    <div *ngIf="getStatus() == AsyncStatus.FAILURE" class="costerror">
      {{ "costTable.errMessage" | translate }}
    </div>
  </ng-template>
</div>
