p {
  padding-left: 24px;
  padding-right: 16px;
}

.header p {
  padding: 12px 0 0px;
  font-weight: 400;
  font-size: 20px;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
  padding-left: 12px;
  padding-right: 195px;
}
