<div>
  <!--Ready Phase-->
  <button
    *ngIf="isPhaseReady()"
    mat-icon-button
    matTooltip="{{ action.tooltip }}"
    matTooltipClass="custom-tooltip"
    [color]="action.color"
    (click)="emitClickedEvent()"
  >
    <lib-icon [icon]="action.iconReady"></lib-icon>
  </button>

  <div
    *ngIf="isPhaseTerminating()"
    matTooltipClass="custom-tooltip"
    matTooltip="PVC is terminating at the moment."
    i18n-matTooltip
  >
    <button mat-icon-button disabled>
      <lib-icon [icon]="action.iconInit"></lib-icon>
    </button>
  </div>

  <div
    *ngIf="isPhaseUnavailable()"
    matTooltipClass="custom-tooltip"
    [matTooltip]="getDisabledTooltip(element)"
  >
    <button mat-icon-button disabled>
      <lib-icon [icon]="action.iconInit"></lib-icon>
    </button>
  </div>
</div>
