.title {
  font-weight: 400;
  font-size: 24px;
}

.title-margin {
  margin: auto 0;
  padding: 12px 0;
}

.space-top {
  padding-top: 1.5rem;
}

.margin-content {
  margin: auto;
}

.table-header-elem{
  display: inline-block;
}

.margin-left {
  margin-left: 10px;
}