<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'laptop-code']" class="check"></fa-icon>
    {{ "formWorkspaceVolume.h3WorkspaceVolume" | translate }}
  </h3>
  <p>{{ "formWorkspaceVolume.txtWorkspaceVolume" | translate }}</p>
  <p *ngIf="readonly">
    {{ "formWorkspaceVolume.txtWorkspaceVolumeIf" | translate }}
  </p>
  <mat-checkbox formControlName="noWorkspace">
    {{ "formWorkspaceVolume.ckbNoPersistent" | translate }}
  </mat-checkbox>

  <app-volume
    [volume]="parentForm.get('workspace')"
    [notebookName]="parentForm.value.name"
    [pvcs]="pvcs"
    [ephemeral]="parentForm.value.noWorkspace"
    [namespace]="parentForm.value.namespace"
    [defaultStorageClass]="defaultStorageClass"
    [sizes]="['4Gi', '8Gi', '16Gi', '32Gi']"
  >
  </app-volume>
</div>
